<div class="modal-body">
  <app-scroll-panel>
    <div class="modal-content employee-card-left-block">
      <div class="modal-content-container">
        <div class="employee-avatar-container">
          <div class="avatar avatar--size-xxl">
            <img [src]="employee.avatar || '../../../../assets/img/avatar.jpg'" alt="" />
          </div>
          <div class="employee-full-name">{{ employee.user_first_name }} {{ employee.user_last_name }}</div>
        </div>

        <div class="employee-info-row">
          <span class="employee-info-row-label">{{ 'label-position' | translate }}: </span>
          <ng-container *ngIf="employee.role_title; else noDataText">
            <div class="employee-info-row-value">
              {{ employee.role_title | translate }}
            </div>
          </ng-container>
        </div>

        <div class="employee-info-row">
          <span class="employee-info-row-label">{{ 'email' | translate }}: </span>
          <ng-container *ngIf="employee.role_title; else noDataText">
            <div class="regular-text">
              {{ employee.user_email }}
            </div>
          </ng-container>
        </div>

        <div class="employee-info-row">
          <span class="employee-info-row-label">{{ 'phone' | translate }}: </span>
          <ng-container *ngIf="employee.role_title; else noDataText">
            <div class="regular-text">+{{ employee.user_phone_code }}{{ employee.user_phone_number }}</div>
          </ng-container>
        </div>

        <div class="employee-info-row">
          <span class="employee-info-row-label">{{ 'date-of-birth' | translate }}: </span>
          <ng-container *ngIf="employee.role_title; else noDataText">
            <div
              class="regular-text"
              *ngIf="employee.user_birth_date && employee.user_birth_date !== '0000-00-00'; else noDataText"
            >
              {{ moment(employee.user_birth_date).format('YYYY.MM.DD') }}
            </div>
          </ng-container>
        </div>

        <p class="employee-info-description">{{ 'employee-card-description' | translate }}</p>
      </div>
    </div>
  </app-scroll-panel>
</div>
<div class="modal-footer">
  <div>
    <button class="btn-regular btn-text" (click)="removeConfirmModal.toggle()">{{ 'deactivate' | translate }}</button>
    <button class="btn-regular btn-smooth" (click)="modal.toggle()">{{ 'edit' | translate }}</button>
  </div>
</div>

<ng-template #noDataText>
  <div class="text-additional">
    {{ 'no-data' | translate }}
  </div>
</ng-template>

<app-modal
  #removeConfirmModal
  [overlayStyle]="{ padding: '1.6rem' }"
>
  <div class="dialog-header">
    <div class="dialog-title">{{'dialog-confirm-remove-title' | translate}}</div>
    <div (click)="removeConfirmModal.toggle()">
      <i class="icon-close icon--bg-circle-on-hover icon--color-black"></i>
    </div>
  </div>
  <div class="dialog-body">
    {{'dialog-confirm-remove-employee' | translate}}
  </div>
  <div class="dialog-footer">
    <button type="button" class="btn-regular btn-smooth" (click)="removeConfirmModal.toggle()">{{ 'cancel' | translate }}</button>
    <button type="button" class="btn-regular btn-red" (click)="deactivateEmployee()">{{'deactivate' | translate}}</button>
  </div>
</app-modal>

<app-modal
  #modal
  [overlayStyle]="{ left: '64px', paddingRight: '64px' }"
  [contentStyle]="{ width: '100%', height: '100%', borderRadius: 0 }"
>
  <app-edit-employee [employee]="employee" [modal]="modal"></app-edit-employee>
</app-modal>
