@import '../../../../assets/scss/variables/variables';

.time-picker {
  max-width: 100px;
  position: relative;

  &-input-wrapper {
    position: relative;
    max-width: 89px;
  }

  &-input {
    position: relative;
    display: flex;
    align-content: center;
    height: 40px;
    padding: 0 1.6rem;
    border: 0;
    border-radius: 3px !important;
    transition: background ease 0.3s;
    overflow: initial;

    background-color: #ffffff;
    border: 2px solid #d7dee5;
    font-size: 1.6rem !important;
    cursor: pointer;
    &:hover {
      transition: background ease 0.3s;
    }

    &-icon {
      position: absolute;
      right: 0.8rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &-list-container {
    position: absolute;
    left: 0;
    z-index: 1;

    display: none;

    height: 200px;

    background-color: #fff;
    border-radius: 3px;

    box-shadow: 0 5px 15px rgba(207, 218, 232, 0.35);

    overflow: hidden;

    &.show {
      display: flex;
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    overflow-y: scroll;

    &-item {
      width: 100%;

      padding: 6px 0px 6px 16px;
      margin: 0;

      list-style: none;
      line-height: 24px;
      text-align: left;
      cursor: pointer;
      user-select: none;

      &:hover:not(.time-picker-item-active) {
        background: #deebff;
      }
    }
  }
}

.time-picker-item-active {
  background: #2684ff;
  color: #fff;
  font-weight: 700;
}
