@import '../../../../../assets/scss/variables/colors';

:host {
  width: 100%;
  height: 100%;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
}

.table-wrapper {
  padding: 3.2rem;
}

p-dataView {
  .table-row {
    display: flex;
    align-items: center;
    height: 7.2rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;

    .table-cell {
      display: flex;
      align-items: center;
    }

    button {
      margin-left: auto;
      white-space: nowrap;
    }
  }
}

app-modal {
  button:first-of-type {
    margin-right: 0.8rem;
  }
}
