:host {
  width: 100%;
  height: 100%;
  display: flex;
}
@import '../../../../../assets/scss/variables/colors';

.main-section {
  width: 100%;
  display: flex;
  height: 100%;
  .business-section {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .login-section {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: initial;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    .login-form {
      padding: 90px 118px 30px;
      height: 100%;
      position: relative;
      overflow-y: auto;
      overflow-x: hidden;
      @media (max-width: 1200px) {
        padding: 90px 78px 30px;
      }
      .info-block {
        .info-title {
          align-items: center;
          h3 {
            font-size: 24px;
            line-height: 29px;
            color: #595959;
            padding-left: 15px;
            margin: 0;
          }
        }
        p {
          font-size: 14px;
          line-height: 26px;
          color: #595959;
          margin: 0;
          padding: 14px 0 26px 0;
        }
      }
    }
  }
}

.form-group {
  display: flex;
  justify-content: space-between;
}

.chevron-left {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 27px;
  &:before {
    content: '';
    display: block;
    background: url(../../../../../assets/icons/Chevron.svg) no-repeat;
    width: 12px;
    height: 12px;
  }
}
h1 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  color: $color-black-text;
  margin-bottom: 48px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.acc {
  margin-top: 60px;
  p {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: $color-black-text;
    > a {
      display: inline-flex;
      color: $color-brand-blue;
      font-weight: 600;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.btns {
  display: flex;
  margin-bottom: 24px;
  @media (max-width: 1200px) {
    flex-direction: column;
  }
  > * {
    flex-grow: 1;
  }
  app-facebook-login {
    margin-right: 24px;
    @media (max-width: 1200px) {
      margin-right: 0;
      margin-bottom: 24px;
    }
  }
}
.remember_me {
  display: flex;
  .control {
    justify-items: center;
    display: flex;
    align-items: center;
  }
}

.forgot_link {
  font-size: 14px;
  line-height: 21px;
  color: $color-brand-blue;
}

.btn-login {
  background: $color-brand-blue;
  border-radius: 3px;
  color: #ffffff;
  padding: 15px 20px;
  border: 0;
  outline: none;
  width: 100%;
  cursor: pointer;
  justify-content: center;
}
.invalid-feedback {
  display: block;
  color: #ff552d;
}
.error_input {
  display: block;
  input {
    border: 2px solid #ff552d;
  }
}
@media (max-width: 768px) {
  .business-section {
    display: none;
  }
}
