<div class="main-section">
  <div class="business-section">
    <app-business-block></app-business-block>
  </div>
  <div class="login-section">
    <div class="login-form">
      <div class="">
        <h1><i class="chevron-left"></i>{{ 'auth-title' | translate }}</h1>
      </div>
      <div *ngIf="showAproveMessage" class="info-block">
        <div class="info-title d-flex">
          <img class="info-img" src="../../../assets/img/icon/success.svg" alt="" />
          <h3>{{ 'auth-success-subtitle' | translate }}</h3>
        </div>
        <p>{{ 'auth-success-login-text' | translate }}</p>
      </div>
      <div class="btns">
        <app-facebook-login (click)="loginFacebook()"></app-facebook-login>
        <app-google-login (click)="loginGoogle()"></app-google-login>
      </div>
      <form [formGroup]="loginForm">
        <div
          class="form-group"
          [ngClass]="
            loginForm.controls['email'].errors && loginForm.controls['email'].touched ? 'error_input' : 'success_input'
          "
        >
          <div class="input_withicon email">
            <input
              type="email"
              class="form-default"
              formControlName="email"
              [placeholder]="'auth-placeholder-email' | translate"
            />
          </div>
          <div
            *ngIf="loginForm.controls['email'].errors && loginForm.controls['email'].touched"
            class="invalid-feedback"
          >
            {{ 'auth-wrong-email' | translate }}
          </div>
        </div>
        <div
          class="form-group"
          [ngClass]="
            loginForm.controls['password'].errors &&
            loginForm.controls['password'].touched &&
            loginForm.controls['password'].errors.required
              ? 'error_input'
              : 'success_input'
          "
        >
          <div class="input_withicon password">
            <input
              type="password"
              class="form-default"
              formControlName="password"
              [placeholder]="'auth-placeholder-password' | translate"
            />
          </div>
          <div
            *ngIf="
              loginForm.controls['password'].errors &&
              loginForm.controls['password'].touched &&
              loginForm.controls['password'].errors.required
            "
            class="invalid-feedback"
          >
            {{ 'auth-required' | translate }}
          </div>
        </div>
        <div class="form-group">
          <div class="remember_me">
            <label class="control control-checkbox">
              {{ 'auth-remember-me' | translate }}
              <input type="checkbox" />
              <div class="control_indicator"></div>
            </label>
          </div>
          <a [routerLink]="['/forgot-password']" class="forgot_link">{{ 'auth-forgot-password' | translate }}</a>
        </div>
        <button type="button" class="btn_default btn-login" (click)="login()">
          {{ 'auth-login' | translate }}
        </button>
        <div class="acc">
          <p>
            {{ 'auth-no-account' | translate }}
            <a [routerLink]="['/registration']">{{ 'auth-registration' | translate }}</a>
          </p>
        </div>
      </form>
      <app-language-selector></app-language-selector>
    </div>
  </div>
</div>
