@import '../variables/index';

a[class^='btn'],
button,
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: $font-stack !important;
  width: max-content;

  &.btn-blue {
    font-size: 15px;
    line-height: 18px;
    background: $color-brand-blue;
    color: $color-white;
    padding: 13px 16px;
    border-radius: 3px;
    font-weight: 600;
    border: 0;
    &:hover {
      background: $color-brand-blue-light;
      box-shadow: 0px 5px 10px rgba(103, 212, 132, 0.2);
      color: $color-white;
    }
  }

  &.btn-light-blue {
    font-size: 15px;
    line-height: 18px;
    background: $color-btn-blue-light;
    color: $color-brand-blue;
    padding: 13px 16px;
    border-radius: 3px;
    font-weight: 600;
    border: 0;
    &:hover {
      background: $color-brand-blue-light;
      box-shadow: 0px 5px 10px rgba(103, 212, 132, 0.2);
      color: $color-white;
    }
  }

  &.btn-green-border {
    font-size: 15px;
    line-height: 18px;
    background: transparent;
    color: $color-green-border;
    border: 2px solid rgba(96, 186, 105, 0.65);
    padding: 11px 16px;
    border-radius: 3px;
    font-weight: 600;
    &:hover {
      background: $color-green-border;
      border: 2px solid $color-green-border;
      color: $color-white;
    }
  }

  &.btn-green {
    font-size: 15px;
    line-height: 18px;
    background: $color-green-border;
    color: $color-white;
    padding: 13px 16px;
    border-radius: 3px;
    font-weight: 600;
    border: 0;
    &:hover {
      background: $color-pos-hover;
      box-shadow: 0px 5px 10px rgba(103, 212, 132, 0.2);
      color: $color-white;
    }
  }

  &.btn-red {
    font-size: 15px;
    line-height: 18px;
    background: $color-warn-red;
    color: $color-white;
    padding: 13px 16px;
    border-radius: 3px;
    font-weight: 600;
    border: 0;

    &:hover {
      background: $color-warn-hover;
      box-shadow: 0px 5px 10px rgba(255, 111, 77, 0.2);
      color: $color-white;
    }

    &:active {
      background: $color-warn-pressed;
      box-shadow: 0px 5px 10px rgba(226, 81, 46, 0.2);
    }
  }

  &.btn-text {
    font-size: 15px;
    line-height: 18px;
    background: transparent;
    color: $color-opacity-text;
    padding: 13px 16px;
    font-weight: 600;
    border: 0;
    &:hover {
      color: $color-brand-blue;
    }
  }
  &.btn-blue-text {
    font-size: 15px;
    line-height: 18px;
    background: transparent;
    color: $color-brand-blue;
    padding: 13px 16px;
    font-weight: 600;
    border: 0;
    &:hover {
      color: $color-brand-blue;
    }
  }

  &.btn-disabled {
    cursor: not-allowed;
    color: rgba(62, 62, 62, 0.65);
    background-color: rgb(245, 245, 245) !important;
    border-color: rgb(245, 245, 245);

    &:hover {
      cursor: not-allowed;
      color: rgba(62, 62, 62, 0.65);
      background-color: rgb(245, 245, 245) !important;
      border-color: rgb(245, 245, 245);
      box-shadow: none;
    }
  }

  &.btn-more {
    width: 4rem;
    height: 4rem;
    border-radius: 3px;
    background-color: rgba(24, 111, 218, 0.05);
    margin-right: 8px;

    &:hover {
      background-color: rgba(24, 111, 218, 0.15);
    }
  }

  &.btn-rounded {
    padding: 1.1rem;
    border-radius: 50%;
    font-size: 1.4rem;

    &--green {
      background-color: $color-green-border;
    }

    &--gray {
      background-color: rgba(24, 111, 218, 0.05);

      &:hover {
        background-color: rgba(24, 111, 218, 0.15);
      }
    }
  }
}

.btn-more,
a.btn-more {
  &-menu {
    border-radius: 3px;
    background-color: #fff;
  }
  &-item {
    display: flex;
    padding: 0.8rem 1.6rem;
    cursor: pointer;

    &:hover {
      background-color: rgba(24, 111, 218, 0.09);
    }

    &:not(:last-child) {
      border-bottom: 1px solid $color-border-section;
      color: $color-black-text;

      &:hover {
        color: $color-black-text;
      }
    }

    &:last-child {
      color: $color-warn-red;
    }
  }
}
button:active,
button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}

.btn-regular {
  height: 4rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  line-height: 4rem;
  font-weight: 600;
  transition: 0.1s;
}

.btn-large {
  height: 4.5rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  line-height: 4.5rem;
  font-weight: 600;
  transition: 0.1s;
}

.btn-def {
  background: $color-brand-blue;
  border-radius: 3px;
  color: #fff;

  &:hover:enabled {
    background: #398ff8;
    box-shadow: 0px 5px 10px rgba(47, 138, 251, 0.2);
  }

  &:active:enabled {
    background: $color-blue-pressed;
    box-shadow: 0px 5px 10px rgba(16, 96, 195, 0.2);
  }

  &:disabled,
  [disabled] {
    background: #efefef;
    color: $color-black-text;
    opacity: 0.65;
    cursor: not-allowed;
  }
}

.btn-smooth {
  background: rgba(24, 111, 218, 0.05);
  border-radius: 3px;
  color: $color-brand-blue;

  &:hover {
    background: rgba(24, 111, 218, 0.15);
    color: $color-brand-blue;
  }

  &:disabled,
  [disabled] {
    background: #efefef;
    color: $color-black-text;
    opacity: 0.65;
    cursor: not-allowed;
  }
}

.btn-success {
  background: $color-brand-green;
  border-radius: 3px;
  color: #fff;

  &:hover:enabled {
    background: $color-pos-hover;
    box-shadow: 0px 5px 10px rgba(104, 222, 135, 0.2);
  }

  &:active:enabled {
    background: $color-pos-pressed;
    box-shadow: 0px 5px 10px rgba(78, 169, 102, 0.2);
  }

  &:disabled,
  [disabled] {
    background: #efefef;
    color: $color-black-text;
    opacity: 0.65;
    cursor: not-allowed;
  }
}

.btn-warn {
  background: $color-warn-red;
  border-radius: 3px;
  color: #fff;

  &:hover:enabled {
    background: $color-warn-hover;
    box-shadow: 0px 5px 10px rgba(255, 111, 77, 0.2);
  }

  &:active:enabled {
    background: $color-warn-pressed;
    box-shadow: 0px 5px 10px rgba(226, 81, 46, 0.2);
  }

  &:disabled,
  [disabled] {
    background: #efefef;
    color: $color-black-text;
    opacity: 0.65;
    cursor: not-allowed;
  }
}

.btn-attention {
  background: $color-yellow;
  border-radius: 3px;
  color: $color-black-text;

  &:hover:enabled {
    background: $color-atntn-hover;
    box-shadow: 0px 5px 10px rgba(255, 215, 88, 0.2);
  }

  &:active:enabled {
    background: $color-atntn-pressed;
    box-shadow: 0px 5px 10px rgba(236, 185, 22, 0.2);
  }

  &:disabled,
  [disabled] {
    background: #efefef;
    color: $color-black-text;
    opacity: 0.65;
    cursor: not-allowed;
  }
}
