label {
  color: #3e3e3e;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 8px;
  display: block;
}
input,
textarea {
  background-color: $color-white;
  border: 2px solid $color-stroke;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 1.6rem;
  font-family: inherit;
  padding: 10px 16px;
  width: 100%;
  outline: none;

  &:focus {
    border: 2px solid $color-stroke-active;
    outline: none;
    box-shadow: none;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #f9f9f9;
    border: 2px solid #eaeaea;
  }

  &:hover:not(:focus) {
    border: 2px solid $color-stroke-hover;
    transition: border ease 0.3s;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill {
    color: $color-black-text !important;
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
    -webkit-text-fill-color: #3e3e3e !important;
  }

  &[type='number'] {
    -moz-appearance: textfield;

    &:hover {
      -moz-appearance: textfield;
    }
  }
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
  }

  &::placeholder {
    color: rgba(#3e3e3e, 0.65);
  }
}

textarea {
  overflow: auto;
  resize: vertical;
}

input {
  line-height: 24px;
  height: 4rem;
  background-size: 12px;
  background-position-x: 16px;
  background-position-y: center;
  background-repeat: no-repeat;
}

.field-required {
  &::after {
    content: '*';
    display: inline;
    color: $color-warn-red;
  }
}

.placeholder {
  &--facebook,
  &--instagram {
    position: absolute;
    z-index: 4;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 46px;
  }
}
.form-control {
  &--facebook {
    padding-left: 147px;
  }

  &--instagram {
    padding-left: 150px;
  }
  .ui-calendar {
    width: 100%;
  }
  .ui-inputtext {
    background-color: $color-white;
    border: 2px solid $color-stroke;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 16px;
    width: 100%;
    outline: none;
    background-size: 12px;
    background-position-x: 16px;
    background-position-y: center;
    background-repeat: no-repeat;

    &:focus {
      outline: none;
      box-shadow: none;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill {
      color: $color-black-text !important;
      background-color: transparent !important;
    }
  }
}

// Исключает зум на мобильных iOS устройствах при фокусе на поле
input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
select:focus,
textarea {
  font-size: 1.6rem;

  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
}
