@import '../../scss/variables/variables';

.ui-overlaypanel {
  background-color: initial !important;
  color: inherit !important;
  padding: 0 !important;
  border: 3px !important;
  background: #fff !important;
  z-index: 999;
  margin-top: 0;
  max-height: 100%;
  overflow: auto;
  box-shadow: $shadow !important;

  &::before,
  &::after {
    border: none;
  }
  &.product-list {
    padding: 16px 24px 16px 24px !important;
    .ui-overlaypanel-content {
      > div {
        border-bottom: 1px solid #f5f5f5;
        padding: 24px 16px;
        > div {
          padding: 0 0 8px 0;
          &:last-of-type {
            padding-bottom: 0;
          }
        }
        &:last-of-type {
          border: 0;
        }
      }
    }
  }
}

.ui-overlaypanel-content {
  padding: 0 !important;
}
body .ui-widget {
  font-family: $font-stack !important;
  font-size: 1.5rem;
}

.ui-widget-overlay {
  left: 64px;
}
