<form class="settings-form" (ngSubmit)="onSubmit()" [formGroup]="bookingSettingsForm">
  <app-scroll-panel>
    <div class="form-content-wrapper">
      <div class="form-content">
        <div class="form-section">
          <div class="switch-group">
            <label class="switch">
              <input id="online_booking" type="checkbox" formControlName="online_booking" />
              <span class="slider round"></span>
            </label>
            <label class="switch-label" for="online_booking">
              {{ 'booking-settings-turn-online-booking-on' | translate }}
            </label>
          </div>

          <div *ngIf="bookingSettingsForm.controls['online_booking'].value">
            <label for="booking-link">{{ 'booking-settings-your-catalog-page' | translate }}</label>
            <div class="booking-link">
              <input type="text" id="booking-link" [value]="bookingLink" disabled />
              <div (click)="copyToClipboard()">{{ 'copy' | translate }}</div>
            </div>
            <div class="form-section-description">
              {{ 'booking-settings-your-catalog-page-description' | translate }}
            </div>
          </div>

          <div *ngIf="!bookingSettingsForm.controls['online_booking'].value" class="form-section-description">
            {{ 'booking-settings-online-booking-off-description' | translate }}
          </div>

          <app-help-modal></app-help-modal>
        </div>

        <div *ngIf="bookingSettingsForm.controls['online_booking'].value" class="form-section">
          <div class="switch-group">
            <label class="switch">
              <input id="online_accept" type="checkbox" formControlName="online_accept" />
              <span class="slider round"></span>
            </label>
            <label class="switch-label" for="online_accept">
              {{ 'booking-settings-auto-confirm-booking' | translate }}
            </label>
          </div>
          <div class="form-section-description">{{ 'booking-settings-online-accept-description' | translate }}</div>
        </div>

        <div *ngIf="bookingSettingsForm.controls['online_booking'].value" class="form-section">
          <div class="switch-group">
            <label class="switch">
              <input id="online_ban" type="checkbox" formControlName="online_ban" />
              <span class="slider round"></span>
            </label>
            <label class="switch-label" for="online_ban">{{ 'booking-settings-block-client' | translate }}</label>
          </div>

          <label for="online_reject">{{ 'booking-settings-online-reject-title' | translate }}</label>
          <div #online_reject class="input-group">
            <input
              class="form-control"
              id="online_reject"
              type="text"
              formControlName="online_reject"
              (focus)="online_reject.classList.add('input-group--focus')"
              (blur)="online_reject.classList.remove('input-group--focus')"
            />
            <div class="input-group-append">
              <div class="input-group-text">{{ 'booking-settings-visits-in-a-row' | translate }}</div>
            </div>
          </div>

          <div class="form-section-description">{{ 'booking-settings-online-reject-description' | translate }}</div>
        </div>
      </div>

      <app-qr-code [value]="bookingLink"></app-qr-code>
    </div>
  </app-scroll-panel>

  <div class="page-footer">
    <button type="submit" class="btn-green">{{ 'update' | translate }}</button>
  </div>
</form>
