@import '../../../../assets/scss/variables/colors';
.content {
    height: calc(100% - 140px);
    position: relative;
  .search {
    padding: 24px 55px 24px 24px;

    .search-field {
      width: 100%;

      input {
        padding-left: 0;
      }
    }
  }
  .service{
      > div{
        padding: 24px 55px 0px 24px;
        &:first-of-type{
            padding-top: 0;
        }
      }
      p{
          font-weight: 600;
          margin: 0;
      }
      &-info{
        padding: 16px;
        margin-left: 16px;
        margin-top: 16px;
        border: 2px solid $color-stroke;
        background: $color-white;
        border-radius: 3px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
        &:last-of-type{
            margin-bottom: 0;
        }
        p{
            margin-bottom: 8px;
            > i{
                font-size: 12px;
                &.icon-check{
                    &::before{
                        content: '';
                        display: block;
                        width: 14px;
                        height: 14px;
                        background: url(../../../../assets/icons/check.svg) no-repeat;
                        background-position: center;
                    }
                }
            }
            &.p-check{
                cursor: pointer;
                margin: 0;
                display: flex;
            }
        }
        span{
            color: $color-opacity-text;
            &:first-of-type{
                margin-right: 16px;
            }
        }
        &.active{
            background: rgba(24, 111, 218, 0.05);
            border: 2px solid #86B6F3;
            p{
                color: $color-brand-blue;
            }
        }
      }
  }

  .modal-footer {
    padding: 24px 55px 24px 24px;
    position: absolute;
    background-color: $color-white;
    bottom: 0;
    width: 100%;
    > div{
        display: flex;
    }
  }
}