<div class="content">
    <div class="search">
        <div class="input-group search-field">
            <div class="input-group-prepend">
                <div class="input-group-text">
                <i class="icon-search"></i>
                </div>
            </div>
            <input #searchInput class="form-control" type="text" placeholder="{{ 'search' | translate }}" />
        </div>
    </div>

    <app-scroll-panel>
        <div class="service">
            
            <div>
                <p>Стрижки</p>
                <div class="service-info active">
                    <div>
                        <p>Мужская стрижка</p>
                        <div class="d-flex">
                            <span>1ч. 30 мин.</span>
                            <span>100 грн.</span>
                        </div>
                    </div>
                    <div>
                        <p class="p-check"><i class="icon-check"></i></p>
                    </div>
                </div>

                <div class="service-info">
                    <div>
                        <p>Женская стрижка</p>
                        <div class="d-flex">
                            <span>1ч. 30 мин.</span>
                            <span>100 грн.</span>
                        </div>
                    </div>
                    <div>
                        <p class="p-check"><i class="icon-plus"></i></p>
                    </div>
                </div>
            </div>
            <div>
                <p>Косметология</p>
                <div class="service-info">
                    <div>
                        <p>Чистка лица</p>
                        <div class="d-flex">
                            <span>1ч. 30 мин.</span>
                            <span>100 грн.</span>
                        </div>
                    </div>
                    <div>
                        <p class="p-check"><i class="icon-plus"></i></p>
                    </div>
                </div>
                <div class="service-info">
                    <div>
                        <p>Чистка лица</p>
                        <div class="d-flex">
                            <span>1ч. 30 мин.</span>
                            <span>100 грн.</span>
                        </div>
                    </div>
                    <div>
                        <p class="p-check"><i class="icon-plus"></i></p>
                    </div>
                </div>
                <div class="service-info">
                    <div>
                        <p>Чистка лица</p>
                        <div class="d-flex">
                            <span>1ч. 30 мин.</span>
                            <span>100 грн.</span>
                        </div>
                    </div>
                    <div>
                        <p class="p-check"><i class="icon-plus"></i></p>
                    </div>
                </div>
                <div class="service-info">
                    <div>
                        <p>Чистка лица</p>
                        <div class="d-flex">
                            <span>1ч. 30 мин.</span>
                            <span>100 грн.</span>
                        </div>
                    </div>
                    <div>
                        <p class="p-check"><i class="icon-plus"></i></p>
                    </div>
                </div>
                <div class="service-info">
                    <div>
                        <p>Чистка лица</p>
                        <div class="d-flex">
                            <span>1ч. 30 мин.</span>
                            <span>100 грн.</span>
                        </div>
                    </div>
                    <div>
                        <p class="p-check"><i class="icon-plus"></i></p>
                    </div>
                </div>
            </div>
            
        </div>
    </app-scroll-panel>
    <div class="modal-footer">
        <div>
          <div class="btn btn-text">Отмена</div>
          <button class="btn btn-green">Добавить в чек</button>
        </div>
    </div>
</div>
