.selected-value {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-item {
  display: flex;
  align-items: center;
}

.list-item-name {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.list-item-code {
  color: #828282;
}
