@import '../../../../../assets/scss/variables/colors';

:host {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.settings-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.form-content-wrapper {
  width: 100%;
  height: 100%;
  padding: 3.2rem 1.6rem 1.6rem;

  @media (min-width: 768px) {
    padding: 3.2rem;
  }
}

.form-content {
  width: 100%;
  max-width: 880px;
}

.tariff-attention-wrapper {
  display: flex;
  flex-shrink: 0;
  align-items: flex-start;

  padding-top: 0.8rem;
  padding-bottom: 2.4rem;

  @media (min-width: 768px) {
    align-items: center;

    max-width: 72rem;
  }
}

.tariff-attention {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 3.2rem;
  height: 3.2rem;
  margin-right: 1.6rem;
  margin-top: 0.4rem;

  border-radius: 50%;
  background-color: $color-yellow;

  @media (min-width: 768px) {
    margin-top: 0;
  }
}

.info-block {
  margin-bottom: 24px;

  .info-img {
    width: 32px;
    height: 32px;
  }

  p {
    margin: 0;
    align-items: center;
    display: flex;
    padding-left: 16px;
    color: #3e3e3e;
    font-size: 15px;
    font-weight: 600;
  }
}

.info-card {
  background: #ffffff;
  border: 2px solid #d7dee5;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 24px;
  display: flex;
  max-width: 560px;
  margin-bottom: 24px;
  cursor: pointer;

  .circle-icon {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(176, 185, 194, 0.15);
    margin-right: 24px;

    > i {
      color: #b0b9c2;
      font-size: 24px;
    }
  }

  &.active {
    background: rgba(24, 111, 218, 0.05);
    border: 2px solid #86b6f3;

    .circle-icon {
      > i {
        color: #186fda;
      }
    }
  }

  h4 {
    font-size: 18px;
    color: #3e3e3e;
    font-weight: 600;
    margin-bottom: 8px;
    margin-top: 0;
  }

  p {
    font-size: 15px;
    color: #3e3e3e;
    opacity: 0.65;
    line-height: 22px;
    margin-top: 0;

    &.text-blue {
      margin-bottom: 8px;
      font-weight: 600;
      opacity: 1;
    }
  }
}
