@import '../../../../../../assets/scss/variables/colors';

.dashboard-header-item {
  display: flex;
  margin: 0 20px;
  align-items: center;
}

.profile-image {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
  }
}
.user-dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;

  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(10, 55, 112, 0.2);

  &-lvl-1 {
    top: 64px;
    right: 0;
    z-index: 10;

    & > .dropdown-menu-item:first-child {
      cursor: default;
    }
  }

  &-lvl-2 {
    top: 0;
    right: 100%;

    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(10, 55, 112, 0.2);
  }

  &-lvl-3 {
    top: 0;
    right: 100%;

    display: none;

    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(10, 55, 112, 0.2);

    .dropdown-menu-item {
      cursor: pointer;
    }
  }

  &-wrapper {
    position: absolute;
    top: 0;
    right: 100%;
    padding-right: 8px;
  }

  &--active {
    .dropdown-menu-lvl-3 {
      display: block;
    }
    display: block;
  }
}

.company-logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.4rem;

  font-size: 1.6rem;
  font-weight: 600;

  border-radius: 50%;
  background-color: transparent;

  img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }

  &--active {
    &::before {
      content: '';

      position: absolute;
      top: 100%;
      left: 100%;
      z-index: 9999;

      width: 1rem;
      height: 1rem;
      transform: translate(-85%, -85%);

      border-radius: 50%;
      background-color: #64bf7c;
    }
  }
}

.branch-active {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.4rem 0.8rem;
  margin-left: 0.8rem;
  margin-bottom: 0;

  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;

  border-radius: 5rem;
  color: #186fda;
  background-color: rgba($color: #186fda, $alpha: 0.1);
}

.dropdown-menu-item {
  position: relative;

  display: flex;
  align-items: center;

  padding: 1.5rem 2.2rem;

  color: #3e3e3e;
  white-space: pre;

  &:hover {
    background-color: #f4f8fc;
  }

  &:not(:last-child) {
    border-bottom: 1px solid $color-border-section;
  }

  &.logout {
    color: $color-warn-red;
    cursor: pointer;
  }
}
