<div class="qr-code-container">
  <div class="qr-code-title">{{ 'qr-code-for-clients' | translate }}</div>
  <div class="qr-code-description">{{ 'qr-code-print-for-clients' | translate }}</div>
  <div class="qr-code">
    <app-qr-code-generator #qrcode [settings]="{ value: value }"></app-qr-code-generator>
  </div>
  <button type="button" class="btn-regular btn-def" (click)="generatePDF()">{{ 'download-pdf' | translate }}</button>
</div>
