.add-products-component{
    height: 100%;
    h3 {
        font-size: 18px;
        font-weight: 600;
        border-bottom: 1px solid #F0F0F0;
        margin: 0;
        display: flex;
        align-items: center;
        padding: 24px;
        .arrow-back{
            width: 12px;
            height: 12px;
            display: block;
            background-size: contain;
            margin-right: 16px;
            background: url(../../../../assets/icons/arrow-back.svg) no-repeat;
        }
    }
    .tabs-product{
        height: 100%;
    }
}
