<div class="modal-header">
  <div class="modal-title">{{ employee.user_first_name | translate }} {{ employee.user_last_name | translate }}</div>
  <div><i class="icon-close icon--bg-circle-on-hover icon--color-black" (click)="goBack()"></i></div>
</div>

<div class="content" *ngIf="!isLoading; else loading">
  <app-employee-card-info [employee]="employee"></app-employee-card-info>

  <app-employee-related-products
    [filteredProductsByCategory]="filteredProductsByCategory"
  ></app-employee-related-products>
</div>

<ng-template #loading>
  <div class="preloader">
    <img src="../../../../../../../assets/img/preloader.gif" alt="" />
  </div>
</ng-template>
