$padding: (
  1: 0.4rem,
  2: 0.8rem,
  3: 1.6rem,
  4: 2.4rem,
  5: 3.2rem,
  6: 4rem,
  7: 4.8rem,
  8: 5.6rem
);

@each $key, $value in $padding {
  .pt-#{$key} {
    padding-top: $value;
  }
  .pr-#{$key} {
    padding-right: $value;
  }
  .pb-#{$key} {
    padding-bottom: $value;
  }
  .pl-#{$key} {
    padding-left: $value;
  }
}
