<app-scroll-panel>
  <div class="content-wrapper">
    <div class="content-description">
      {{ 'portfolio-description' | translate }}
    </div>
    <div class="photo-wrapper">
      <div class="portfolio-img-container">
        <div class="portfolio-btn-add-container">
          <div class="portfolio-btn-add-wrapper" (click)="cropper.toggleOpen()">
            <i class="icon-plus pr-1"></i>
            <div class="portfolio-btn-add">{{ 'add-photo' | translate }}</div>
          </div>
        </div>
      </div>

      <app-photo-cropper #cropper (submit)="addPhoto($event)"></app-photo-cropper>

      <div *ngFor="let photo of photos" class="portfolio-img-container">
        <div>
          <div class="portfolio-img-wrapper">
            <div class="portfolio-img-icon-wrapper" (click)="removePhoto(photo.id)">
              <i class="icon-close icon--bg-circle-on-hover icon--color-white"></i>
            </div>
            <div class="portfolio-img-overlay" (click)="handlePhotoModalToggle(photo)">
              <i class="icon-eye icon--color-white"></i>
              <div class="portfolio-img-overlay-text">{{ 'in-full-window' | translate }}</div>
            </div>
          </div>
          <div class="portfolio-img-block">
            <img [src]="photo.path" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</app-scroll-panel>
<app-modal
  [overlayStyle]="{ padding: '1.6rem' }"
  [contentStyle]="{ width: '100%', 'max-width': '866px' }"
  [isOpen]="!!selectedPhoto"
  (hide)="selectedPhoto = null"
>
  <div class="dialog-header w-full">
    <span class="dialog-title">{{ 'avatar-cropper-upload-img' | translate }}</span>
    <i class="icon icon-close icon--bg-circle-on-hover cursor_click" (click)="selectedPhoto = null"></i>
  </div>

  <div class="dialog-body">
    <img *ngIf="selectedPhoto" [src]="selectedPhoto.path" alt="" />
  </div>
</app-modal>
