<main>
  <section class="page">
    <app-header></app-header>
    <div class="page-body">
      <div class="tabs">
        <a class="tab" [routerLink]="['/finance/income']" routerLinkActive="tab--active">
          {{ 'income' | translate }}
        </a>
        <a class="tab" [routerLink]="['/finance/costs']" routerLinkActive="tab--active">
          {{ 'costs' | translate }}
        </a>
      </div>
      <div class="panel">
        <div class="input-group search-field">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="icon-search"></i>
            </div>
          </div>
          <input #searchInput class="form-control" type="text" placeholder="{{ 'search' | translate }}"
            (keyup)="search(searchInput.value)" />
        </div>
        <a routerLink="/new-sale" class="btn btn-regular btn-green">
          <i class="icon-plus icon--color-white"></i> {{ 'add-transaction-button' | translate }}
        </a>
      </div>
      <router-outlet></router-outlet>
    </div>
  </section>
</main>