<div class="main-section">
  <div class="business-section">
    <app-business-block></app-business-block>
  </div>
  <div class="more-section">
    <div class="more">
      <div class="">
        <h1>{{ 'auth-more-title' | translate }}</h1>
        <p>{{ 'auth-more-complete-registration' | translate }}</p>
      </div>
      <form action="" [formGroup]="phoneGroup">
        <div class="form-group">
          <div #phone class="input-group">
            <div class="input-group-prepend">
              <app-phone-field [options]="phoneCodes" formControlName="phone"> </app-phone-field>
            </div>
            <div class="phone-code">+{{ (phoneGroup?.controls)['phone'].value.phone_code }}</div>
            <input
              class="form-control"
              type="text"
              id="phone"
              formControlName="phone_number"
              (focus)="phone.classList.add('input-group--focus')"
              (blur)="phone.classList.remove('input-group--focus')"
            />
          </div>
          <div
            *ngIf="phoneGroup.controls['phone_number'].errors && phoneGroup.controls['phone_number'].touched"
            class="invalid-feedback"
          >
            {{ 'auth-required' | translate }}
          </div>
        </div>
        <div class="form-group">
          <div class="">
            <label class="control control-checkbox">
              {{ 'auth-registration-agree' | translate }}
              <a href="javascript:0">{{ 'auth-registration-agree-link' | translate }}</a>
              <input type="checkbox" (change)="checkAgreeDocuments($event.target.checked)" />
              <div class="control_indicator"></div>
            </label>
          </div>
        </div>
        <button type="button" class="btn_default btn-login" (click)="setPhoneNumber()">
          {{ 'auth-more-accept' | translate }}
        </button>
      </form>
      <div class="acc">
        <p>
          {{ 'auth-registration-have-account' | translate }}
          <a [routerLink]="['/login']">{{ 'auth-registration-sign-in' | translate }}</a>
        </p>
      </div>
      <app-language-selector></app-language-selector>
    </div>
  </div>
</div>
