.language-block {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.select {
  padding-right: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  font-size: 15px;
  color: #3e3e3e;
  font-weight: 600;
  background: url(../../../../assets/img/Polygon.png) no-repeat;
  background-size: 8px;
  background-position: 95%;
  background-position-y: center;

  &:focus {
    outline: none;
  }
}
