<div class="main-section">
  <div class="business-section">
      <app-business-block></app-business-block>
  </div>
  <div class="more-section">
      <div class="more">
          <div class="">
              <h1>{{ 'auth-change-forgot-title' | translate }}</h1>
          </div>
          <form action="" [formGroup]="passwordForm">
          <div class="form-group">
              <i class="visible-true"></i>
              <i *ngIf="passwordForm.controls['password'].value" [ngClass]="{
                      'visible-true': showPass,
                      'visible-false': !showPass
                  }" (click)="showPass = !showPass"></i>
              <div class="input_withicon password" [ngClass]="passwordForm.controls['password'].errors && passwordForm.controls['password'].touched ? 'error_input' : 'success_input'">
                  <input type="{{ showPass ? 'text' : 'password' }}" class="form-default login-input" [placeholder]=" 'auth-registration-password' | translate " formControlName="password" />
              </div>
              <div *ngIf="passwordForm.controls['password'].errors && passwordForm.controls['password'].touched" class="invalid-feedback">
                {{ 'auth-required' | translate }}
              </div>
            </div>
            <button type="button" class="btn_default btn-login" (click)="changePassword()">
                {{ 'auth-more-accept' | translate }}
            </button>
          </form>
          <div class="acc">
              <p>{{ 'auth-registration-have-account' | translate }} <a [routerLink]="['/login']">{{ 'auth-registration-sign-in' | translate }}</a></p>
          </div>
          <app-language-selector></app-language-selector>
      </div>
  </div>
</div>