<div class="main-section">
  <div class="business-section">
    <app-business-block></app-business-block>
  </div>
  <div *ngIf="!successfullySend" class="login-section">
    <div class="login-form">
      <div class="">
        <h1><i class="chevron-left"></i>{{ 'auth-forgot-title' | translate }}</h1>
      </div>
      <div class="btns">
        <p>{{ 'auth-forgot-description-text' | translate }}</p>
      </div>
      <form action="" [formGroup]="forgotGroup">
        <div
          class="form-group"
          [ngClass]="
            forgotGroup.controls['email'].errors && forgotGroup.controls['email'].touched
              ? 'error_input'
              : 'success_input'
          "
        >
          <div class="input_withicon email">
            <input
              type="email"
              class="form-default"
              formControlName="email"
              [placeholder]="'auth-placeholder-email' | translate"
            />
          </div>
          <div
            *ngIf="forgotGroup.controls['email'].errors && forgotGroup.controls['email'].touched"
            class="invalid-feedback"
          >
            {{ 'auth-wrong-email' | translate }}
          </div>
        </div>

        <button type="button" class="btn_default btn-login" (click)="restore()">
          {{ 'auth-forgot-accept' | translate }}
        </button>

        <div class="acc">
          <p>
            {{ 'auth-registration-have-account' | translate }}
            <a [routerLink]="['/login']">{{ 'auth-registration-sign-in' | translate }}</a>
          </p>
        </div>
      </form>
      <app-language-selector></app-language-selector>
    </div>
  </div>
  <div *ngIf="successfullySend" class="letter-section">
    <div class="letter-send">
        <div class="">
            <h1><i class="chevron-left"></i>{{ 'auth-forgot-success-title' | translate }}</h1>
        </div>
        <div>
            <img src="../../../../../assets/icons/email-send.png" alt="">
            <p>{{ 'auth-forgot-send-message-1' | translate }} <a href="javascript:0">{{ forgotGroup.controls['email'].value }}</a> {{ 'auth-forgot-send-message-2' | translate }}</p>
        </div>
        <div class="acc">
            <p>{{ 'auth-forgot-not-your-email' | translate }} <a (click)="back()">{{ 'auth-forgot-move-back' | translate }}</a></p>
        </div>
        <app-language-selector></app-language-selector>
    </div>
  </div>
</div>
